body {
    font-size: 1.5rem;
    margin: 0%;
    font-family: 'Roboto Mono', monospace;;
}

#container {
    background-color: #cb997e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

}

div {
    height: fit-content;
    width: 80%;
    border-bottom: 1rem solid #a5a58d;
}

.introdução {
    display: flex;
    justify-content: center;
}

#foto_minha {
    width: 15rem;
    height: 15rem;
    margin-right: 1rem;
    border: none;
    border-radius: 50%;
    background-image: url("Media/foto\ minha.jpeg");
    background-size: cover;
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
}

figure img {
    border-radius: 10%;
    border: 0.1em solid black;
    width: 7.5rem;
    height: 7.5rem;
}

#emailpic {
    margin-left: 2rem;
}

#links {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
    border: none;
}

a{
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    color: #6b705c;
    border-left: medium solid #ffe8d6;
    border-bottom: medium solid #ffe8d6;
    margin: 0%;
    margin-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

ul {
    margin-left: 4%;
}





@media (max-width: 1343px) {
    .introdução {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    #emailpic {
        margin-left: 4.5rem;
    }
}

@media (max-width: 863px) {
    body {
        font-size: 1.75rem;
    }

    .introdução {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    figure img{
        width: 9rem;
        height: 9rem;

    }

    #foto_minha {
        width: 16rem;
        height: 16rem;
    }

    h1{
        font-size: 3rem;
    }

    #emailpic {
        margin-left: 3.1rem;
    }

}

@media (max-width: 639px) {
    body {
        font-size: 1rem;
    }

    .introdução {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    figure img{
        width: 5rem;
        height: 5rem;

    }

    #foto_minha {
        width: 12rem;
        height: 12rem;
    }

    h1{
        font-size: 2.2rem;
    } 

    #emailpic {
        margin-left: 2rem;
    }
}
